body {
    background: linear-gradient(#0091ec, #673ab7);
    font-family: 'Bagel Fat One', cursive;
    color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center; 
    /* justify content aligns it horizontally from left to right */
    align-items: center;
    /* align items alignes an element vertically from top to bottom */
    margin: 0;
}

.clock {
    font-size: 10vw;
    display: flex;
    gap: 1.5vw;
    text-align: center;
    text-shadow: 0.25rem 0.25rem 0.6rem rgba(255, 255, 255, 0.1);
}

#seconds {
    min-width: 1.5rem;
}